<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PPTTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PPTTools.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PPTTools.Properties.Settings>
            <setting name="apc" serializeAs="String">
                <value />
            </setting>
            <setting name="apm" serializeAs="String">
                <value />
            </setting>
            <setting name="duration" serializeAs="String">
                <value />
            </setting>
            <setting name="finesse" serializeAs="String">
                <value />
            </setting>
            <setting name="ftx" serializeAs="String">
                <value />
            </setting>
            <setting name="inputs" serializeAs="String">
                <value />
            </setting>
            <setting name="kpp" serializeAs="String">
                <value />
            </setting>
            <setting name="pps" serializeAs="String">
                <value />
            </setting>
            <setting name="rating" serializeAs="String">
                <value />
            </setting>
        </PPTTools.Properties.Settings>
        <PPTTools.Settings>
            <setting name="apc" serializeAs="String">
                <value />
            </setting>
            <setting name="apm" serializeAs="String">
                <value />
            </setting>
            <setting name="duration" serializeAs="String">
                <value />
            </setting>
            <setting name="finesse" serializeAs="String">
                <value />
            </setting>
            <setting name="ftx" serializeAs="String">
                <value />
            </setting>
            <setting name="inputs" serializeAs="String">
                <value />
            </setting>
            <setting name="kpp" serializeAs="String">
                <value />
            </setting>
            <setting name="pps" serializeAs="String">
                <value />
            </setting>
            <setting name="rating" serializeAs="String">
                <value />
            </setting>
        </PPTTools.Settings>
    </userSettings>
</configuration>